body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #9900ffe7;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 100;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex; 
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Container Styles */
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid #9900ffe7;
}

.container h2 {
    text-align: center;
}

.container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="tel"],
.container input[type="email"],
.container input[type="date"],
.container input[type="Card Number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #9900ffe7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #0056b3;
}

.container input[type="checkbox"] {
    margin-right: 10px;
}

.container .psw {
    display: block;
    text-align: right;
    margin-top: 10px;
}

.container .register-message {
    text-align: center;
    margin-top: 20px;
}

.container .register-message a {
    color: #007BFF;
    text-decoration: none;
}

.container .register-message a:hover {
    text-decoration: underline;
}

.container[style] {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 20px;
}